<form action="/load_fts/" method="post" enctype="multipart/form-data">
    <ul class="verticaly" >
        <il>
            <h1 style="text-align: center;">
                WELCOME TO COMPONENT TESTING TOOL ()
            </h1>
        </il>
        <li>
            <div>
                <label>FTS</label>
                <input type="file" name="fts">
            </div>
        </li>
        <li>
            <div>
                <label>DB</label>
                <input type="file" name="db">
            </div>
        </li>
        <li>
            <div>
                <label>MDX</label>
                <input type="file" name="mdx">
            </div>
        </li>
        <li style="text-align: right;"><button type="submit">Continue ></button></li>
    </ul>

</form>